@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

.name {
  color: #fff;
  font-size: 30px;
  padding-top: 2rem;
}

.textAboutMe {
  color: #52525b;
  font-size: 1rem;
  text-align: justify;
  margin-top: 30px;
  text-indent: 30px;
  line-height: 1.76rem;
}

.secondaryColor {
  color: #b98b7485;
}

.test {
  font-family: 'Courier New', monospace;
  color: #1e1e26;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 110%;
}

.background {
  background-color: #fff;
}

.summmaryText {
  color: #6b6b6b;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
.summmaryTextWhite {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.title {
  color: #b98b74;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: x-large;
  padding-bottom: 3%;
}

.titleWhite {
  color: #000;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: x-large;
  padding-bottom: 10%;
}

.mobileNumber {
  font-family: 'Source Sans Pro', sans-serif;
  color: #1e1e26;
}

.mobileIcon {
  display: flex;
  justify-content: center;
}

.contactAlign {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageZoom:hover {
  transform: scale(1.1);
}

.secondaryHeader:hover {
  background-color: #e5e7eb;
}

.secondary {
  background-color: #92c2df;
}

.primaryBack {
  background-color: #fff;
}

.buttonStyle {
  color: #1e1e26;
  font-family: 'Carme', sans-serif;
}

.primary {
  color: #fff;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 5px;
}

.socialMedia {
  justify-content: center;
  padding-bottom: 2rem;
}

.marginAdjust {
  margin-top: 5rem;
}

.sectionTitles {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.secondaryText {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  justify-content: center;
  text-indent: 30px;
  text-align: center;

}
.secondaryTitles {
  color: #192710;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 1.1rem;
}

.secondaryTextNotSelected {
  color: #52525b;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  text-indent: 30px;
  text-align: center;

}
.secondaryTitlesNotSelected {
  color: #b98b74;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 1.1rem;
}

.firstTitle {
  color: #92c2df;
}

.firstIcons {
  color: #b98b74;
}

.buttonStyle{
  background-color: #b98b74;
}
